/* Style for body */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
}

/* Style for container */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

/* Style for form */
.form {
  background-color: #fff;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  width: 400px;
}

/* Style for headings */
h1 {
  color: #333;
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
}

/* Style for form labels */
label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #333;
}

/* Style for form inputs */
input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
}

/* Style for submit buttons */
input[type="submit"] {
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Style for links */
a {
  color: #333;
  text-decoration: none;
}

a:hover {
  color: blue;
  box-shadow: 0 1px 1px rgba(109, 89, 238, 0.2);
}
/* Style for paragraph text */
p {
  margin: 0;
  color: #666;
  font-size: 14px;
  text-align: center;
}

/* Style for the logout link */
.logout-link {
  margin-top: 10px;
  text-align: center;
}

/* Style for error messages */
.error-message {
  color: red;
  margin-bottom: 10px;
  text-align: center;
}
